body {
    font-family: Arial, sans-serif;
    background: #e3d0e9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.quiz-container {
    background: rgb(166, 133, 176);
    padding: 90px;
    border-radius: 15px;
    width: 400px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);

}

h1 {
    margin-bottom: 20px;
}

.option-btn {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: none;
    background: rgb(103, 70, 116);
    color: white;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
}

.option-btn:hover {
    background: rgb(199, 156, 199);

}

#next-btn{
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background: rgb(103, 70, 116);

    color: white;
    border-radius: 5px;
    cursor: pointer;
}



#restart-btn {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background: rgb(103, 70, 116);

    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.hidden {
    display: none;
}



#username {
    width: 90%;
    padding: 10px;
    margin: 15px 0;
    font-size: 16px;
}

#start-btn {
    padding: 10px 20px;
    border: none;
    background: rgb(103, 70, 116);

    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#profile {
    margin-top: 20px;
    text-align: left;
}

#history-list {
    padding-left: 20px;
}

#regno {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
}

