body {
    font-family: Arial, sans-serif;
    background: #f3dada;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.quiz-container {
    background: rgb(170, 123, 184);
    padding: 30px;
    border-radius: 10px;
    width: 400px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);

}

h1 {
    margin-bottom: 20px;
}

.option-btn {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: none;
    background: rgb(155, 73, 155);
    color: white;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
}

.option-btn:hover {
    background: rgb(155, 73, 155);
}

#next-btn,
#restart-btn {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background: purple;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.hidden {
    display: none;
}



#username {
    width: 90%;
    padding: 10px;
    margin: 15px 0;
    font-size: 16px;
}

#start-btn {
    padding: 10px 20px;
    border: none;
    background: purple;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#profile {
    margin-top: 20px;
    text-align: left;
}

#history-list {
    padding-left: 20px;
}



